<div class="container">
  <div class="d-flex justify-content-center mt-2 img-more-info" style="border-radius: 20px;">
    <div class="img-show" style="margin: 78px 0px 0px 0px;">
      <%= cl_image_tag(@handyman.user.photo.key) %>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div style="display: grid;">
    <div class="row">
      <div class="col-8">
        <% @handyman.skills.each do |skill| %>
        <h3><%= @handyman.user.full_name%> <%= icons_for_skills(skill.name) %></h3>
        <!-- linea -->
        <div class="linea"></div>
        <h5><%= skill.name %> <%= '<i class="fas fa-solid fa-star"></i>'.html_safe * @handyman.avr_rating %></h5>
        <p><%= skill.description %></p>
        <% end %>
         <% if @handyman.rating_count.zero? %>
         <p></p>
         <%else%>
         <div class="linea"></div>
         <h4>Reviews</h4>
          <% @reviews_handyman.each do |r| %>
          <div>
            <div class="d-flex">
              <div class="img-reviews">
                <%= cl_image_tag(r.user.photo.key) %>
              </div>
              <div>
                <div class="d-flex" style="margin-left: 10px;">
                  <p style="margin: 0px;"><%= r.user.full_name %></p>
                  <p style="margin: 0px 0px 0px 25px;"><%= '<i class="fas fa-solid fa-star"></i>'.html_safe * r.stars %></p>
                </div>
                <div style="margin-left: 10px;">
                  <p><%= r.created_at.strftime('%B %e, %Y') %></p>
                </div>
              </div>
            </div>
            <p><%= r.content %></p>
          </div>
          <% end %>
          <% end %>

      </div>

      <div class="col-4 appointment">
        <div class="formulario">
          <h4 >New appointment with Felipe</h4>
          <form action="" method="post">
            <label for="date" class="colocar_date">date<span class="obligatorio">*</span></label>
            <input type="datetime-local" name="introducir_date" id="date" required="obligatorio">
            <label for="Description" class="colocar_Description">Description<span class="obligatorio">*</span></label>
            <input type="Description" name="introducir_Description" id="Description" required="obligatorio">
            <label for="Skill" class="colocar_Skill ">Skill </label><input type="tel" name="introducir_Skill " id="Skill">
            <div class="btn-submit">
              <button type="submit" name="enviar_formulario" id="enviar">Create Appointment</button>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
    <div class="linea"></div>
    <!-- Map -->
    <div>
    <div class="" style="width: 100%; height: 400px; margin-right: 31px; top: 20px; border-radius: 23px;"
            data-controller="mapbox"
            data-mapbox-markers-value="<%= @marker.to_json %>"
            data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" >
            </div>
    </div>
  </div>

</div>
  <div>
    <%= link_to 'Back', handymen_path, class:"btn btn-info"%>
  </div>
<%= render 'shared/footer' %>
