<div class="container">
  <div class="row justify-content-center">
    <div class="col" style="width: 25%; height: 600px; margin-right: 31px; top: 20px; border-radius: 23px;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @marker.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" >
    </div>
    <%= render 'handyman_card', handyman: @handyman %>
    <%= link_to 'Back', handymen_path, class:"btn btn-info"%>
  </div>
  <div class="row justify-content-center">
    <div class="col-9">
      <h1>Reviews</h1>
      <% @reviews_handyman.each do |r| %>
        <%= render 'review_card', r: r %>
      <% end %>
    </div>
  </div>
</div>
