<div class="handyman-card">
  <div class="card-img">
    <%= cl_image_tag(handyman.user.photo.key) %>
    <div>
      <%='<i class="fas fa-solid fa-star"></i>'.html_safe * 5%>
      <p>Reviews:<%= handyman.reviews.filter {|r| r.author != current_user.email}.count %></p>

      <h4> <%= handyman.user.full_name %></h4>
    </div>
  </div>
  <div class="card-info">
    <div class="skills-location">
      <div class="skills">
        <% handyman.skills.each do |skill| %>
          <div class="skill">
            <p><%= skill.name %></p>
            <p><%= skill.level %></p>
          </div>
        <% end %>
      </div>
      <div class="location">
        <p> <%= handyman.location %></p>
      </div>
    </div>
    <div class="division">
      <p></p>
    </div>
    <div class="member-since">
      <p><%= handyman.created_at %></p>
      <%= link_to "Book", new_handyman_appointment_path(handyman.id), class:"btn btn-info" %>
      <%= link_to "More info", handyman_path(handyman.id), class:"btn btn-info" %>
    </div>
  </div>
</div>
