<div class="profile-card">
  <p>Handyman: <%= a.handyman.user.full_name %></p>
  <p>Description: <%= a.description %></p>
  <p>When: <%= a.date.strftime('%B %e, %Y') %></p>
  <p>Status: <%= a.status %></p>
  <% if !a.reviewed? %>
    <%= link_to 'Leave a review', new_appointment_review_path(a), class:"btn btn-info"%>
  <% end %>
</div>
