<div class="profile-card">
  <i class="fas fal fa-address-card"></i><%= " " + a.user.full_name %>
  <p>Description: <%= a.description %></p>
  <i class="fas fal fa-calendar-alt"></i><%= " " + a.date.strftime('%B %e, %Y') %>
  <p>Status: <%= a.status %></p>
  <% if a.status == "Pending" %>
    <%= link_to 'Accept', accept_appointment_path(a), method: :put, class: "btn btn-secondary"%>
    <%= link_to 'Reject', reject_appointment_path(a), method: :put, class: "btn btn-secondary"%>
  <% elsif a.status == "Accepted" %>
    <%= link_to 'Reject', reject_appointment_path(a), method: :put, class: "btn btn-secondary"%>
  <% else %>
    <%= link_to 'Accept', accept_appointment_path(a), method: :put, class: "btn btn-secondary"%>
  <% end %>
</div>
