
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Montserrat:wght@300&family=Roboto:wght@100;300;400;500;700;900&family=Teko:wght@400&display=swap');
  </style>

  <div>
    <div class="landing_top mt-0"  >
      <div class="banner">
        <div class="sign in">
              <% if user_signed_in? %>
                <%= link_to "", new_user_session_path %>
              <% else %>
                <%= link_to "Sign in", new_user_session_path, class: "btn-sign-in mt-0" %>
              <% end %>
        </div>

        <div class="container">
          <h1 class="h1-title" >Handy</h1>
            <h2 style="margin-left: 20px;">Solutions at hand</h2>
          <div>
            <%= simple_form_for :search, url: root_path, method: :get do |f| %>
              <div class="form-group mt-5">
                <input class="grow text-center border-0 shadow " type="text" name="search[query]" style="width: 400px; height: 40px; border-radius: 23px; background: rgb(206 220 207 / 18%)" placeholder="Find a Handy!"/>
                <button type="submit" class="btn-submit">
                  <i class="fas fa-search fa-2x" style="color: #305349;"></i>
                </button>
              </div>
            <% end %>
          </div>

          </div>

        </div>
      </div>
    </div>
  </div>


  <%# HOW IT WORKS %>
  <div class="container">
      <div class="knowhow mt-5">
        <h3> How <strong>it works</strong></h3>
        <p> Find the most qualified person to help you at home</p>
      </div>
    <div class="how-it-works">
      <div class="steps mt-6">
        <div class="step">
          <img src="https://cdn.dribbble.com/users/1231153/screenshots/3433207/media/c9b2d44c27615cdb11487e792f4f7c03.gif" alt="Pipe Burst">
          <h4>Need a fix?</h4>
        </div>
      </div>
      <div class="steps mt-6">
        <div class="step">
          <img src="https://cdn.dribbble.com/users/12427466/screenshots/18761128/media/49deef9fb0a64fa9f136cf8aa76dbd1b.gif" alt="Find handy">
          <h4>Search by location or skill</h4>
        </div>
      </div>
      <div class="steps mt-6">
        <div class="step">
          <img src="https://cdn.dribbble.com/users/537878/screenshots/3517803/media/aab41504d52402e113194ee599fc71da.gif" alt="Found">
          <h4>Find the right Handy</h4>
        </div>
      </div>
    </div>
  </div>

  <div>
    <%# CARDS SPACE %>
    <div class="container">
      <div class="cards">
        <% @handyman.each do |handyman|%>
          <%= render 'shared/handyman_card', handyman: handyman %>
        <% end %>
      </div>
    </div>
  </div>



  <%# FOOTER %>
  <div>
  <%= render 'shared/footer' %>
  </div>
  </div>
