<div class="container">
  <div class="row justify-content-center text-center">
    <%# INFO USUARIO %>
    <div class="col-md">
      <h1>User Profile</h1>
      <%= render 'profile_card', user: @user %>

      <%# INFO HANDYMAN %>
      <% if @user.is_handyman? %>
        <h1>Handyman Profile</h1>
        <%= render 'handyman_card', user: @user %>
      <% end %>
    </div>

    <%# INFO RESERVAS USUARIO %>
    <% if !@user.handyman %>
      <div class="col-md">
        <h1>My Appointments</h1>
        <% @user.appointments.each do |a| %>
          <%= render 'appointment_card', a: a %>
        <% end  %>
      </div>
    <% end %>

    <%# INFO HANDYMAN REQUEST %>
    <% if @user.handyman %>
      <div class="col-md">
        <h1>My Requests</h1>
        <% @user.handyman.appointments.each do |a| %>
          <%= render 'request_card', a: a %>
        <% end  %>
      </div>
    <% end %>
  </div>
  <div class="row justify-content-center text-center">
    <div class="col">
      <%= link_to handymen_path, class: "btn btn-secondary" do %>
        <i class="fas fa-home"></i>
      <% end %>
    </div>
  </div>
</div>
